doctype html
html(lang="en")
	head
		tittle= MyFirstApp
		link(href='/css/style.css', rel='stylesheet')
	body
		.content-wrapper
			footer
				h3 	All rights reserved to Tool of North America Copyright 2016


